@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

.formContainer{
    margin: 20px;
    
}

h3{
    display: block;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 20px;
}
